@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: absolute;
  inset: 0;
}

.nearest {
  image-rendering: pixelated;
}

.checkerboard {
  --color1: theme(colors.stone[900]);
  --color2: theme(colors.stone[950]);
  --size: 50px;
  background-image: conic-gradient(
    var(--color1) 90deg,
    var(--color2) 90deg 180deg,
    var(--color1) 180deg 270deg,
    var(--color2) 270deg
  );

  background-repeat: repeat;
  background-size: var(--size) var(--size);
  background-position: top left;
}
